div{
    background-color: lightblue;
    width: 200px;
    height: 700px;
    display: inline-block;
    border: black 2px solid;
    margin: 20px;
    vertical-align: top;
}

button{
    width: 150px;
}