<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>

  <button [ngClass]="{ 'on': selected === 'PST' }" (click)="onButtonClick('PST')">PST</button>
  <button [ngClass]="{ 'on': selected === 'MST' }" (click)="onButtonClick('MST')">MST</button>
  <button [ngClass]="{ 'on': selected === 'CST' }" (click)="onButtonClick('CST')">CST</button>
  <button [ngClass]="{ 'on': selected === 'EST' }" (click)="onButtonClick('EST')">EST</button>
  <button [ngClass]="{ 'on': selected === 'GMT' }" (click)="onButtonClick('GMT')">GMT</button>
  <button (click)="onButtonClick(null)">Clear</button>

  
  <p *ngIf='selected!=null'>{{ date | date: format : location }}</p>

