<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>

<div class="brown">
  <button [ngClass]="{'on':myArray[0]}"(click)="onButtonClick(0)">
    <p *ngIf=myArray[0]>On</p>
    <p *ngIf=!myArray[0]>Off</p>
  </button>
</div>
<div class="brown">
  <button [ngClass]="{'on':myArray[1]}"(click)="onButtonClick(1)">
    <p *ngIf=myArray[1]>On</p>
    <p *ngIf=!myArray[1]>Off</p>
  </button>
</div>
<div class="brown">
  <button [ngClass]="{'on':myArray[2]}"(click)="onButtonClick(2)">
    <p *ngIf=myArray[2]>On</p>
    <p *ngIf=!myArray[2]>Off</p>
  </button>
</div>
<div class="brown">
  <button [ngClass]="{'on':myArray[3]}"(click)="onButtonClick(3)">
    <p *ngIf=myArray[3]>On</p>
    <p *ngIf=!myArray[3]>Off</p>
  </button>
</div>
<div class="brown">
  <button [ngClass]="{'on':myArray[4]}"(click)="onButtonClick(4)">
    <p *ngIf=myArray[4]>On</p>
    <p *ngIf=!myArray[4]>Off</p>
  </button>
</div>
<div class="brown">
  <button [ngClass]="{'on':myArray[5]}"(click)="onButtonClick(5)">
    <p *ngIf=myArray[5]>On</p>
    <p *ngIf=!myArray[5]>Off</p>
  </button>
</div>
<div class="brown">
  <button [ngClass]="{'on':myArray[6]}"(click)="onButtonClick(6)">
    <p *ngIf=myArray[6]>On</p>
    <p *ngIf=!myArray[6]>Off</p>
  </button>
</div>
<div class="brown">
  <button [ngClass]="{'on':myArray[7]}"(click)="onButtonClick(7)">
    <p *ngIf=myArray[7]>On</p>
    <p *ngIf=!myArray[7]>Off</p>
  </button>
</div>
  